{% extends 'base.html' %}

{% block courses %}active{% endblock courses  %}

{% block title%}Courses{% endblock title %}

{% block header%}{{course.course_id}}-{{course.name}}{% endblock header %}

{% block body %}
<div class="container">
      <table >
        
        <tr class='p-4'>
        {%for professor in professors%}
        <center><img src="{{ professor.profile_pic.url }}" width="100" class="img-thumbnail" alt="{{ professor.profile_pic.url }}">
        <br><a href={%url 'viewprofile' professor.professor_id%} >{{professor.name}}</a></center>
        {%endfor%}
        </tr>
        <br>
        <tr>
          <th>Syllabus: </th>
          <td title="syllabus">
              <a href="{{course.syllabus.url}}" >Click here to view</a>
          </td>
        </tr>
        <br>
        <tr>
          <th>Attendance: </th>
          <td >
            <button class="btn btn-light" onclick="location.href='{%url 'attendance' course.course_id %}';">
              View Attendance
            </button>
          </td>
        </tr>
      </table>
          <div class="accordion pt-4 pb-4" id="accordionExample">
            <div class="accordion-item text-white bg-accordion">
              <h2 class="accordion-header bg-accordion" id="headingOne">
                <button class="accordion-button bg-accordion text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Students Encyclopedia
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body bg-accordion text-white">
                  <table>
                    {%for student in students%}
                    <td class='p-4'><img src="{{ student.profile_pic.url }}" width="100" class="img-thumbnail" alt="{{ student.profile_pic.url }}"></center>
                    <br><a href={%url 'viewprofile' student.roll_no%} >{{student.name}}</a></td>
                    {%endfor%}
                    </table>
          
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header bg-accordion" id="headingTwo">
                <button class="accordion-button bg-accordion text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Study Materials
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body bg-accordion">
                  <table>
                    {%for material in materials%}
                    <td title="{{material.description}}">
                      <div style="
                        background-color: #fff;
                        border: 1px solid;
                        padding: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
                        <a href="{{material.file.url}}" >{{material.title}}</a>
                        {%if is_professor %}
                        <button type="submit" value="{{material.id}}" id="material{{material.id}}" name="material
                        " class="btn btn-danger" onclick="deleteMaterial({{material.id}})">X</button>
                        {%endif%}
                      </div>
                    </td>
                    {%endfor%}
                  </table>
                  <br><br>
                  {% if is_professor %}
                  <button class="btn btn-light" onclick="location.href='{%url 'addmaterial' course.course_id 'material' %}';">Add Material</button>
                  {%endif%}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header bg-accordion" id="headingThree">
                <button class="accordion-button bg-accordion text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Sample Question Papers
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body bg-accordion">
                  <table>
                    {%for question in questions%}
                    <td title="{{question.title}}">
                      <div style="
                        background-color:#fff
                        border: 1px solid;
                        padding: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
                        <a href="{{question.file.url}}" >{{question.title}}</a>
                        {% if is_professor %}
                        <button type="submit" value="{{question.id}}" name="question{{question.id}}"
                        id="question" class="btn btn-danger" onclick="deleteMaterial({{question.id}})">X</button>
                        {%endif%}
                      </div>
                    </td>
                    {%endfor%}
                  </table>
                  <br><br>
                  {% if is_professor %}
                  <button class="btn btn-light" onclick="location.href='{%url 'addmaterial' course.course_id 'question' %}';">Add Paper</button>
                  {%endif%}
                </div>
              </div>
            </div>
          </div>
        

</div>
  <script>
    function deleteMaterial(id)
    {
      if (confirm("Are you Sure?")) 
      {
        $id= id;
        msg= window.event.srcElement.id;
        console.log(id+""+msg)
        $.post("{% url 'coursedetails' course.course_id %}",{id:id,message:msg,csrfmiddlewaretoken:'{{csrf_token}}'}).done(function(data){
          alert("Material deleted!");
          document.getElementById($msg+$id).remove();
        })
      }
    }
  </script>
{% endblock body %}