{% extends 'base.html' %}

{% block courses %}active{% endblock courses  %}

{% block title%}Courses{% endblock title %}

{% block header%}Courses{% endblock header %}

{% block body %}
    <div>
        {% for course in courses %}
        <div class="d-grid gap-2 p-2">
            <button class="btn btn-light " onclick="location.href='{% url 'coursedetails' course.course_id %}';">{{ course.course_id }} - {{ course.name }}</button>
        </div>
        {% endfor %}
        </div>
{% endblock body %}