{% extends 'base.html' %}

{% block map %}active{% endblock map  %}

{% block title%}Map{% endblock title %}

{% block header%}Map{% endblock header %}

{% block body %}
<div class="row">
    <div class="col-md-7">
        {{map|safe}}
        <br><br>
    </div>
    <div class="col-md-5">
        <form class="" method='POST' action='map'>
            {% csrf_token %}
            <h2>Journey</h2>
            <div class="form-group">
                <label for="start">From:</label>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="start" id="start">
                    {% for maps in mapobj %}
                        <option value="{{ maps.name }}">{{ maps.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="end">To:</label>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="end" id="end">
                    {% for maps in mapobj %}
                        <option value="{{ maps.name }}">{{ maps.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button><br><br>
        </form>
    </div>
</div>
{% endblock body %}