{% extends 'base.html' %}

{% block profile %}active{% endblock profile %}

{% block title%}Profile{% endblock title %}

{% block header%}Profile{% endblock header %}

{% block body %}

<div class="container">

  <form method="POST" action="profile">
    {% csrf_token %}
    <!--common fields-->
    <div class="form-group">
      
      {% if profile.profile_pic %}
        <center><img src="{{ profile.profile_pic.url }}" width="150" class="img-thumbnail" alt="{{ profile.profile_pic.url }}"></center>
      {% else %}
        <img id="profileImage" src="http://lorempixel.com/100/100"  class="img-thumbnail"/>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" value="{{ profile.name }}" required>
    </div>
    <div class="form-group">
      <label for="phone_number">Phone Number:</label>
      <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ profile.phone_no }}" required>
    </div>
    
    {% if is_student %}
      <div class="form-group">
        <label for="roll_number">Roll Number:</label>
        <input type="text" class="form-control" id="roll_number" name="roll_number" value="{{ profile.roll_no }}" disabled>
      </div>
      <div class="form-group">
        <label for="semester">Semester:</label>
        <input type="number" class="form-control" id="semester" name="semester" value="{{ profile.semester }}" disabled>
      </div>
      <div class="form-group">
        <label for="stream">Stream:</label>
        <input type="text" class="form-control" id="stream" name="stream" value="{{ profile.stream }}" disabled>
      </div>
      <div class="form-group">
          <label for="facebook_link">Facebook Link:</label>
          <input type="url" class="form-control" id="facebook_link" name="facebook_link" value="{{ profile.facebook_link }}" >
        </div>
        <div class="form-group">
          <label for="instagram_link">Instagram Link:</label>
          <input type="url" class="form-control" id="instagram_link" name="instagram_link" value="{{ profile.instagram_link }}" >
        </div>
        <div class="form-group">
          <label for="bio">Bio:</label>
          <textarea class="form-control" id="bio" name="bio" rows="5" >{{profile.bio}}</textarea>
        </div>
        <div class="form-group">
          <label >Enrolled courses:</label>
          <ul>
            {% for course in profile.enrolled_courses.all %}
              <li>{{ course.name }}</li>
            {% endfor %}
            </ul>
        </div>
    {% else %}
      <div class="form-group">
        <label for="professor_id">Professor ID:</label>
        <input type="text" class="form-control" id="professor_id" name="professor_id" value="{{ profile.professor_id }}" disabled>
      </div>
      <div class="form-group">
        <label for="highest_qualification">Highest Qualification:</label>
        <input type="text" class="form-control" id="highest_qualification" name="highest_qualification" value="{{ profile.highest_qualification }}" required>
      </div>
      <div class="form-group">
        <label >Courses taught:</label>
        <ul>
          {% for course in profile.courses_taught.all %}
            <li>{{ course.name }}</li>
          {% endfor %}
          </ul>
      </div>
      <div class="form-group">
        <label for="department">Department:</label>
        <input type="text" class="form-control" id="department" name="department" value="{{ profile.department }}" disabled>
      </div>
    {% endif %}
    <br>
    <center><button type="submit" class="btn btn-primary" >Save Profile</button></center>
    <br>
  </form>
</div>
{% endblock body %}