{% extends 'base.html' %}

{% block profile %}active{% endblock profile %}

{% block title%}Profile{% endblock title %}

{% block header%}Profile{% endblock header %}

{% block body %}

<div class="container">

    {% if is_student %}

      <table class="table">
        <tr>
          <td>Name:</td>
          <td>{{ profile.name }}</td>
        </tr>
        <tr>
          <td>Roll Number:</td>
          <td>{{ profile.roll_no }}</td>
        </tr>
        <tr>
          <td>Semester:</td>
          <td>{{ profile.semester }}</td>
        </tr>
        <tr>
          <td>Specialization:</td>
          <td>{{ profile.specialisation }}</td>
        </tr>
        <tr>
          <td>Phone Number:</td>
          <td>{{ profile.phone_no }}</td>
        </tr>
        <tr>
          <td>Facebook Link:</td>
          <td>{{ profile.facebook_link }}</td>
        </tr>
        <tr>
          <td>Instagram Link:</td>
          <td>{{ profile.instagram_link }}</td>
        </tr>
        <tr>
          <td>Bio:</td>
          <td>{{ profile.bio }}</td>
        </tr>
        <tr>
          <td>Profile Picture:</td>
          <td><img src="{{ profile.profile_pic.url }}" alt="Profile Picture"></td>
        </tr>
        <tr>
          <td>Enrolled Courses:</td>
          <td>
            <ul>
            {% for course in user.student_profile.enrolled_courses.all %}
              <li>{{ course.name }}</li>
            {% endfor %}
            </ul>
          </td>
        </tr>
      </table>

    {% else %}
      
      <table class="table">
        <tr>
          <td>Name:</td>
          <td>{{ profile.name }}</td>
        </tr>
        <tr>
          <td>Professor ID:</td>
          <td>{{ profile.professor_id }}</td>
        </tr>
        <tr>
          <td>Department:</td>
          <td>{{ profile.department }}</td>
        </tr>
        <tr>
          <td>Phone Number:</td>
          <td>{{ profile.phone_no }}</td>
        </tr>
        <tr>
          <td>Profile Picture:</td>
          <td><img src="{{ profile.profile_pic.url }}" alt="{{ profile.profile_pic.url }}"></td>
        </tr>
        <tr>
          <td>Highest Qualification:</td>
          <td>{{ profile.highest_qualification }}</td>
        </tr>
        <tr>
          <td>Courses Teaching:</td>
          <td>
            <ul>
            {% for course in profile.courses_taught.all %}
              <li>{{ course.name }}</li>
            {% endfor %}
            </ul>
          </td>
        </tr>
      </table>
    {% endif %}
    <a href="#" class="btn btn-primary">Edit Profile</a>
  </div>
{% endblock body %}